<!-- <!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> 
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html> 

-->

<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../partials/header.ejs %>


  
</head>
<body>
  <input id="Sign-In" type="button" value="Sign-In" onclick="name();" />
<div id="top"> Fender </div>
<div class="parallax"></div>
<div id="middle">
<h1> Fender Guitars</h1>
<p> Below you find a wide selection of guitars. We have everything you could ever want!  </p>
<div id="skills"><h2> Products</h2>
<ul>
   <li class="silver"> Guitars </li>
   <li class="silver">  Bass </li>
   <li class="gold"> Acoustic and UKE</li>
   <li class="gold"> Guitar Amps</li>
   <li class="silver"> Bass Amps</li>
   <li class="silver"> Pedals </li>
   <li class="silver"> Audio</li>
   <li class="bronze"> Parts</li>
   <li class="bronze">  Accessories</li>
   <li class="bronze">  Lifestyle</li>
   
</ul>
<!-- <a href="https://www.fender.com/play">Click here for sign for a free trial for fender play! .</a>  -->
  
</div>
<div id="projects">
<h2> 10 Easy Songs to learn</h2>

<p> If you want to learn a couple easy songs just click the link below! </p>

<a href="https://www.fender.com/articles/how-to/10-easy-songs-to-learn-with-3-chords-or-less"> Link to learn!</a> 
<br>
<input id="clickMe" type="button" value="Sign up for a free trial of fender play!" onclick="doFunction();" />

<h2> Gear </h2>
<p> If you want to see some amazing gear check out the link below!  </p>

<a href="https://www.fender.com/articles/gear/parallel-universe-fenders-strat-tele-hybrid"> Link to gear! </a>


<h2> Find a dealer  </h2>
<p> Click the link below to find dealers in your area!  </p>

<a href="http://locator.fender.com/en-US/"> Link to dealers! </a>
<br>

</div>
<script type="text/javascript">

  function doFunction() {
   clevertap.event.push("Product Viewed");             
}
  
</script>
<script type="text/javascript">

  function name() {
   clevertap.profile.push({
 "Site": {
   "Name": "Jack Montana", 
   "Email": “jackmontana@example.com”
 }
});         
}
  
</script>
</body>
<a href="https://www.fender.com/pages/about">Click here to learn more about Fender!</a>
</div>
<div class="parallax"></div>
</html>
